force-app/main/default/flows/LIM_Mirakl_ShopCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apexMiraklShopCreate</name>
        <label>apexMiraklShopCreate</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>LIM_Mirakl_ShopCreate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>setJob</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>partnerIntegrationId</name>
            <value>
                <elementReference>varPartnerIntegrationId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LIM_Mirakl_ShopCreate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setJob</name>
        <label>setJob</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recJob.ProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlSuccessError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ResponseJson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexMiraklShopCreate.responseJson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ResultCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexMiraklShopCreate.statusCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ResultMessage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexMiraklShopCreate.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ProcessingAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DONE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ProcessingFinished__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.JobType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PARTNER_INTEGRATION_ACCOUNT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.JobAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.RequestJson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexMiraklShopCreate.requestJson</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setPartnerIntegration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPartnerIntegration</name>
        <label>setPartnerIntegration</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recPartnerIntegration.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPartnerIntegrationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPartnerIntegration.MerchantId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexMiraklShopCreate.merchantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updPartnerIntegration</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>fmlSuccessError</name>
        <dataType>String</dataType>
        <expression>CASE( {!apexMiraklShopCreate.statusCode}, 
201, &apos;SUCCESS&apos;,
200, &apos;SUCCESS&apos;,
&apos;ERROR&apos;)</expression>
    </formulas>
    <interviewLabel>LIM_Mirakl_ShopCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIM_Mirakl_ShopCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insJob</name>
        <label>insJob</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>recJob</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>updPartnerIntegration</name>
        <label>updPartnerIntegration</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>insJob</targetReference>
        </connector>
        <inputReference>recPartnerIntegration</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>apexMiraklShopCreate</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>recPartnerIntegration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartnerIntegration__c</objectType>
    </variables>
    <variables>
        <name>varMerchantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPartnerIntegrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatusCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
