force-app/main/default/flows/LIM_Mirakl_ShopsSyncFromMirakl_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>LIM_Mirakl_ShopsSyncFromMirakl_Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIM_Mirakl_ShopsSyncFromMirakl_Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <assignments>
        <name>assignVarUpdatedSince</name>
        <label>assignVarUpdatedSince</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varUpdatedSince</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLastMiraklShopSyncJob.ProcessingStarted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>subShopsSyncFromMirakl</targetReference>
        </connector>
    </assignments>
    <recordLookups>
        <name>getLastMiraklShopSyncJob</name>
        <label>getLastMiraklShopSyncJob</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignVarUpdatedSince</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PARTNER_INTEGRATION_ACCOUNT</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProcessingStarted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProcessingStarted__c</queriedFields>
        <sortField>ProcessingStarted__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getLastMiraklShopSyncJob</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subShopsSyncFromMirakl</name>
        <label>subShopsSyncFromMirakl</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <flowName>LIM_Mirakl_ShopsSyncFromMirakl</flowName>
        <inputAssignments>
            <name>varUpdatedSince</name>
            <value>
                <elementReference>varUpdatedSince</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varUpdatedSince</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
