force-app/main/default/flows/LIM_IntegrationTest_CreateData.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setAccount</name>
        <label>setAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlTestAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Shopname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlShop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.BusinessUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MarketplaceRetail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Research</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TypeOfDistribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RetailerReseller</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AdultShoes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.DemandEstimationSales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1234.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hero.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CommercialRegisterLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registration City</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CommercialRegisterNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlRegNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.BuyerPurchaserManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.LegalForm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gmbh</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CommercialCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>germany</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.VatIdWarehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VatWare001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.WarehouseCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>austria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0059Z00000WnnogQAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAccountUpdate</name>
        <label>setAccountUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recAccount.Admincontact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recContactAdmin.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAddress</name>
        <label>setAddress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recAddress.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAddress.Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12345</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAddress.AddressStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAddress.Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hamburg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAddress.Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAddress.BusinessUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketplace</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAddressInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAddressHeadquarter</name>
        <label>setAddressHeadquarter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recAddress.Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Headquarter-Platz 17</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAddress.AddressType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Headquarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insAddresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAddressInvoice</name>
        <label>setAddressInvoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recAddress.Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice-Weg 23</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAddress.AddressType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InvoiceAddress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAddressReturn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAddressReturn</name>
        <label>setAddressReturn</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recAddress.Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Return-Weg 23</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAddress.AddressType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AddressForReturns</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAddressHeadquarter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setContactAdmin</name>
        <label>setContactAdmin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recContactAdmin.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContactAdmin.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlUniqueName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContactAdmin.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContactAdmin.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlAdminEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContactAdmin.BusinessUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MarketplaceAdSales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContactAdmin.RoleFunction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CompanyManagement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insContactAdmin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setContract</name>
        <label>setContract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.BankInstitution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sparkasse Pasing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.IBAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DE82145</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.BIC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>XXOOVZT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Wz000000SFnJIAW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUniqueName</name>
        <label>setUniqueName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUniqueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlUniqueName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAccount</targetReference>
        </connector>
    </assignments>
    <description>Creates test account with all related records to provide easy test-data generation for integration tests</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlAdminEmail</name>
        <dataType>String</dataType>
        <expression>&quot;mthun+lim_&quot; + {!fmlUniqueName} + &quot;@factory42.com&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlLastName</name>
        <dataType>String</dataType>
        <expression>&quot;Last&quot; + {!recAccount.Id}</expression>
    </formulas>
    <formulas>
        <name>fmlRegNo</name>
        <dataType>String</dataType>
        <expression>&quot;RegNo &quot; + {!varUniqueName}</expression>
    </formulas>
    <formulas>
        <name>fmlShop</name>
        <dataType>String</dataType>
        <expression>&quot;Integration Shop &quot; + {!varUniqueName}</expression>
    </formulas>
    <formulas>
        <name>fmlTestAccountName</name>
        <dataType>String</dataType>
        <expression>&quot;Integration Company &quot; &amp; {!fmlUniqueName}</expression>
    </formulas>
    <formulas>
        <name>fmlUniqueName</name>
        <dataType>String</dataType>
        <expression>TEXT ( YEAR ( {!$Flow.CurrentDate} ) ) + &apos;_&apos; 
+ TEXT ( MONTH ( {!$Flow.CurrentDate} ) ) + &apos;_&apos; 
+ TEXT ( DAY ( {!$Flow.CurrentDate} ) )
+ &quot;_&quot; + {!varTestNumber}</expression>
    </formulas>
    <interviewLabel>LIM_IntegrationTest_CreateData {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIM_IntegrationTest_CreateData</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insAccount</name>
        <label>insAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setContactAdmin</targetReference>
        </connector>
        <inputReference>recAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insAddresses</name>
        <label>insAddresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setContract</targetReference>
        </connector>
        <inputReference>colAddresses</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insContactAdmin</name>
        <label>insContactAdmin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setAccountUpdate</targetReference>
        </connector>
        <inputReference>recContactAdmin</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insContract</name>
        <label>insContract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>updContract</targetReference>
        </connector>
        <inputReference>recContract</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>updAccount</name>
        <label>updAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setAddress</targetReference>
        </connector>
        <inputReference>recAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updContract</name>
        <label>updContract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recContract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setUniqueName</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>recAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>recContactAdmin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varTestNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUniqueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
