force-app/main/default/flows/LIM_Contact_MiraklCheckChanges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setError</name>
        <label>setError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.MiraklBlockChangesMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ifContactChanged</name>
        <label>ifContactChanged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>ContactNotChanged</defaultConnectorLabel>
        <rules>
            <name>ContactChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recContact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recContactPrior.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recContact.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recContactPrior.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recContact.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recContactPrior.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recContact.Title</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recContactPrior.Title</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setError</targetReference>
            </connector>
            <label>ContactChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifRelevant</name>
        <label>ifRelevant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>ContactNotRelevant</defaultConnectorLabel>
        <rules>
            <name>ContactRelevant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recContact.Account.Backend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mirakl</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recContact.RoleMarketplace__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mirakl Invitation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.MiraklIntegration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifContactChanged</targetReference>
            </connector>
            <label>ContactRelevant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LIM_Contact_MiraklCheckChanges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIM_Contact_MiraklCheckChanges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ifRelevant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recContactPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
