force-app/main/default/flows/LIM_PartnerIntegration_Create_ScreenF42_TEST.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignValuesToPartnerIntegration</name>
        <label>assignValuesToPartnerIntegration</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.ConnectionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConnectionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.OnboardingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.PartnerCapacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.PreferredGoLiveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredGoLiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.ProductAssortmentAvailability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductAssortmentAvailability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.TMHShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TMHShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.MerchantId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlMerchantID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.Backend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlBackend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createPartnerIntegration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTypeOfIntegration</name>
        <label>SetTypeOfIntegration</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.TypeOfIntegration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypeOfIntegrationFull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignValuesToPartnerIntegration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTypeOfIntegrationOther</name>
        <label>SetTypeOfIntegrationOther</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>PartnerIntegrationId.TypeOfIntegration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypeOfIntegrationShort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignValuesToPartnerIntegration</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceBackendMerchantCenter</name>
        <choiceText>Merchant Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Merchant Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceBackendMirakl</name>
        <choiceText>Mirakl</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mirakl</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceCountryExtension</name>
        <choiceText>Country extension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CountryExtension</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice for Field Type of Integration</description>
        <name>ChoiceInterfaceChange</name>
        <choiceText>Interface change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>InterfaceChange</stringValue>
        </value>
    </choices>
    <choices>
        <description>Value for Type of Integration</description>
        <name>ChoiceLogisticsExtention</name>
        <choiceText>Logistics extention</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LogisticsExtention</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMiraklMigration</name>
        <choiceText>Mirakl Migration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MiraklMigration</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNewIntegration</name>
        <choiceText>Initial Integration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewIntegration</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>IsPermissionWithNewIntegraion</name>
        <label>IsPermissionWithNewIntegraion</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>SetTypeOfIntegrationOther</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeOfIntegrationFull</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTypeOfIntegration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>test from F42 to test, a normal screen doesnt work</description>
    <dynamicChoiceSets>
        <description>Choose between Mirakl or Merchant Center</description>
        <name>ChoiceBackend</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Backend__c</picklistField>
        <picklistObject>PartnerIntegration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceConnectionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ConnectionType__c</picklistField>
        <picklistObject>PartnerIntegration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceProductAssortmentAvailability</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductAssortmentAvailability__c</picklistField>
        <picklistObject>PartnerIntegration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceReturnLabelProcess</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReturnLabelSpecialProcess__c</picklistField>
        <picklistObject>PartnerIntegration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceShippingCountry</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShippingCountry__c</picklistField>
        <picklistObject>PartnerIntegration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceTMHShippingCountry</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TMHShippingCountry__c</picklistField>
        <picklistObject>PartnerIntegration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceTypeOfIntegration</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeOfIntegration__c</picklistField>
        <picklistObject>PartnerIntegration__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>If interface change, then Backend from screen, if not from Contract</description>
        <name>fmlBackend</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    {!TypeOfIntegrationShort} = {!ChoiceInterfaceChange},
    {!TypeOfIntegrationFull}  = {!ChoiceInterfaceChange},
    AND(
      {!TypeOfIntegrationFull} = {!ChoiceNewIntegration},
      {!Backend}               = {!ChoiceBackendMirakl}
    )
  ),
  {!Backend},
  {!Get.Backend__c}
)</expression>
    </formulas>
    <formulas>
        <description>Includes permission to see component with all pick list values for Type of Integration field</description>
        <name>fmlCreateNewPartnerIntegraionPermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.CreateNewPartnerIntegration}</expression>
    </formulas>
    <formulas>
        <description>If interface change, then MerchantID from screen, if not from Account</description>
        <name>fmlMerchantID</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    {!TypeOfIntegrationShort} = {!ChoiceInterfaceChange},
    {!TypeOfIntegrationFull}  = {!ChoiceInterfaceChange},
    AND(
      {!TypeOfIntegrationFull} = {!ChoiceNewIntegration},
      {!Backend}               = {!ChoiceBackendMirakl}
    )
  ),
  {!MerchantID},
  {!Get.MerchantId__c}
)</expression>
    </formulas>
    <interviewLabel>LIM_PartnerIntegration_Create_ScreenF42_TEST {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIM_PartnerIntegration_Create_ScreenF42_TEST</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createPartnerIntegration</name>
        <label>createPartnerIntegration</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputReference>PartnerIntegrationId</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get</name>
        <label>getAccount</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContractRecorType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PartnerIntegrationFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RoleFunction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IntegrationAgency</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContractRecorType</name>
        <label>getContractRecorType</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCotract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketplace</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCotract</name>
        <label>getCotract</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContractRecorType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>PartnerIntegrationFields</name>
        <label>PartnerIntegrationFields</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsPermissionWithNewIntegraion</targetReference>
        </connector>
        <fields>
            <name>TypeOfIntegrationFull</name>
            <choiceReferences>ChoiceNewIntegration</choiceReferences>
            <choiceReferences>ChoiceCountryExtension</choiceReferences>
            <choiceReferences>ChoiceLogisticsExtention</choiceReferences>
            <choiceReferences>ChoiceInterfaceChange</choiceReferences>
            <choiceReferences>ChoiceMiraklMigration</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceNewIntegration</defaultSelectedChoiceReference>
            <fieldText>Type of Integration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmlCreateNewPartnerIntegraionPermission</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TypeOfIntegrationShort</name>
            <choiceReferences>ChoiceInterfaceChange</choiceReferences>
            <choiceReferences>ChoiceMiraklMigration</choiceReferences>
            <choiceReferences>ChoiceCountryExtension</choiceReferences>
            <choiceReferences>ChoiceLogisticsExtention</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceMiraklMigration</defaultSelectedChoiceReference>
            <fieldText>Type of Integration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmlCreateNewPartnerIntegraionPermission</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Backend</name>
            <choiceReferences>ChoiceBackendMirakl</choiceReferences>
            <choiceReferences>ChoiceBackendMerchantCenter</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getCotract.Backend__c</elementReference>
            </defaultValue>
            <fieldText>Backend</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ConnectionType</name>
            <choiceReferences>choiceConnectionType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getCotract.ConnectionType__c</elementReference>
            </defaultValue>
            <fieldText>Connection Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PreferredGoLiveDate</name>
            <dataType>Date</dataType>
            <fieldText>Preferred Go-Live Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeOfIntegrationFull</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceNewIntegration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MerchantID</name>
            <dataType>String</dataType>
            <fieldText>Merchant ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1 OR 2 OR (3 AND 4) OR 5 OR 6</conditionLogic>
                <conditions>
                    <leftValueReference>TypeOfIntegrationFull</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceInterfaceChange</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeOfIntegrationShort</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceInterfaceChange</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeOfIntegrationFull</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceNewIntegration</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Backend</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceBackendMirakl</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeOfIntegrationShort</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceMiraklMigration</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeOfIntegrationFull</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceMiraklMigration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartnerCapacity</name>
            <dataType>Date</dataType>
            <fieldText>Partner Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ShippingCountry</name>
            <choiceReferences>choiceShippingCountry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shipping Country</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeOfIntegrationFull</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceNewIntegration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TMHShippingCountry</name>
            <choiceReferences>choiceTMHShippingCountry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>TMH Shipping Country</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeOfIntegrationFull</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceNewIntegration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProductAssortmentAvailability</name>
            <choiceReferences>choiceProductAssortmentAvailability</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Assortment Availability</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeOfIntegrationFull</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceNewIntegration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShippingCostText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Don&apos;t forget to enter the shipping costs manually in the Merchant Center!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmlCreateNewPartnerIntegraionPermission</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeOfIntegrationFull</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceNewIntegration</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Backend</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceBackendMerchantCenter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Partner Integration Record was created successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>PartnerIntegrationId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartnerIntegration__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
