force-app/main/default/flows/LIM_Address_MiraklCheckChanges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setError</name>
        <label>setError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.MiraklBlockChangesMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ifAddressChanged</name>
        <label>ifAddressChanged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>AddressNotChanged</defaultConnectorLabel>
        <rules>
            <name>AddressChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recAddress.Address__City__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recAddressPrior.Address__City__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recAddress.Address__Street__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recAddressPrior.Address__Street__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recAddress.Address__PostalCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recAddressPrior.Address__PostalCode__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recAddress.Address__CountryCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recAddressPrior.Address__CountryCode__s</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setError</targetReference>
            </connector>
            <label>AddressChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifRelevant</name>
        <label>ifRelevant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>isNotRelevant</defaultConnectorLabel>
        <rules>
            <name>isRelevant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recAddress.Account__r.Backend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mirakl</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recAddress.AddressType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Headquarter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.MiraklIntegration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifAddressChanged</targetReference>
            </connector>
            <label>isRelevant</label>
        </rules>
    </decisions>
    <description>checks for changes after initial mirakl transfer</description>
    <environments>Default</environments>
    <interviewLabel>LIM_Address_MiraklCheckChanges   - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIM_Address_MiraklCheckChanges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ifRelevant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>recAddressPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
