force-app/main/default/flows/LIM_Contract_MiraklCheckChanges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setError</name>
        <label>setError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.MiraklBlockChangesMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ifContractChanged</name>
        <label>ifContractChanged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>ContractNotChanged</defaultConnectorLabel>
        <rules>
            <name>ContractChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recContract.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recContractPrior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setError</targetReference>
            </connector>
            <label>ContractChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifRelevant</name>
        <label>ifRelevant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>ContractNotRelevant</defaultConnectorLabel>
        <rules>
            <name>ContractRelevant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recContract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recContract.ContractVisiblityCriteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recContract.Backend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mirakl</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.MiraklIntegration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifContractChanged</targetReference>
            </connector>
            <label>ContractRelevant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LIM_Contract_MiraklCheckChanges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIM_Contract_MiraklCheckChanges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ifRelevant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recContractPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
