force-app/main/default/flows/LIM_Mirakl_ShopsSyncFromMirakl.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apexMiraklShopsSync</name>
        <label>apexMiraklShopsSync</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LIM_Mirakl_ShopsSyncFromMirakl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>setJob</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>updatedSince</name>
            <value>
                <elementReference>varUpdatedSince</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LIM_Mirakl_ShopsSyncFromMirakl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setJob</name>
        <label>setJob</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recJob.ProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlSuccessError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ResponseJson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexMiraklShopsSync.responseJson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ResultCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlResultCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ResultMessage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlResultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ProcessingAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DONE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ProcessingFinished__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.JobType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MIRAKL_TO_SALESFORCE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.JobAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.RequestJson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexMiraklShopsSync.requestJson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recJob.ProcessingStarted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insJob</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUpdatedSince</name>
        <label>setUpdatedSince</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUpdatedSince</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLastMiraklShopSyncJob.ProcessingStarted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexMiraklShopsSync</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>fmlResultCode</name>
        <dataType>String</dataType>
        <expression>TEXT( {!apexMiraklShopsSync.statusCode} )</expression>
    </formulas>
    <formulas>
        <name>fmlResultMessage</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!apexMiraklShopsSync.errorMessage}), IF(ISBLANK({!apexMiraklShopsSync.summaryMessage}), &apos;&apos;, {!apexMiraklShopsSync.summaryMessage}), {!apexMiraklShopsSync.errorMessage} + IF(ISBLANK({!apexMiraklShopsSync.summaryMessage}), &apos;&apos;, &apos; | &apos; + {!apexMiraklShopsSync.summaryMessage}))</expression>
    </formulas>
    <formulas>
        <name>fmlSuccessError</name>
        <dataType>String</dataType>
        <expression>IF( {!apexMiraklShopsSync.success}, &apos;SUCCESS&apos;, &apos;ERROR&apos;)</expression>
    </formulas>
    <interviewLabel>LIM_Mirakl_ShopsSyncFromMirakl {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIM_Mirakl_ShopsSyncFromMirakl</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insJob</name>
        <label>insJob</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>recJob</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getLastMiraklShopSyncJob</name>
        <label>getLastMiraklShopSyncJob</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setUpdatedSince</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MIRAKL_TO_SALESFORCE</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProcessingStarted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <sortField>ProcessingStarted__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getLastMiraklShopSyncJob</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>varUpdatedSince</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
