force-app/main/default/flows/LIM_Account_MiraklCheckChanges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setError</name>
        <label>setError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.MiraklBlockChangesMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ifChanged</name>
        <label>ifChanged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>isNorChanged</defaultConnectorLabel>
        <rules>
            <name>isChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recAccount.Shopname__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recAccountPrior.Shopname__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recAccount.CommercialRegisterNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recAccountPrior.CommercialRegisterNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setError</targetReference>
            </connector>
            <label>isChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifRelevant</name>
        <label>ifRelevant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>isNotRelevant</defaultConnectorLabel>
        <rules>
            <name>isRelevant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recAccount.Backend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mirakl</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.MiraklIntegration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifChanged</targetReference>
            </connector>
            <label>isRelevant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LIM_Account_MiraklCheckChanges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIM_Account_MiraklCheckChanges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ifRelevant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recAccountPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
