force-app/main/default/flows/LIM_PartnerIntegration_McCheckChangesMirakl.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ifPartnerIntegrationChanged</name>
        <label>ifPartnerIntegrationChanged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>PartnerIntegrationNotChanged</defaultConnectorLabel>
        <rules>
            <name>PartnerIntegrationNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recPartnerIntegration.MerchantId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subEnqueueRequest</targetReference>
            </connector>
            <label>PartnerIntegrationNew</label>
        </rules>
        <rules>
            <name>PartnerIntegrationChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recPartnerIntegration.ConnectionType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recPartnerIntegrationPrior.ConnectionType__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recPartnerIntegration.OnboardingStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recPartnerIntegrationPrior.OnboardingStatus__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subEnqueueRequest</targetReference>
            </connector>
            <label>PartnerIntegrationChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>isIntegrationRelevant</name>
        <label>isIntegrationRelevant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NotRelevant</defaultConnectorLabel>
        <rules>
            <name>Relevant</name>
            <conditionLogic>1 AND ( 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>recPartnerIntegration.TypeOfIntegration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewIntegration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recPartnerIntegration.MerchantStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>integrating</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recPartnerIntegration.MerchantStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recPartnerIntegration.Backend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merchant Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifPartnerIntegrationChanged</targetReference>
            </connector>
            <label>Relevant Merchant Center</label>
        </rules>
        <rules>
            <name>RelevantMirakl</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>recPartnerIntegration.TypeOfIntegration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewIntegration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recPartnerIntegration.TypeOfIntegration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InterfaceChange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recPartnerIntegration.Backend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mirakl</stringValue>
                </rightValue>
            </conditions>
            <label>Relevant Mirakl</label>
        </rules>
    </decisions>
    <description>checks if RECORD is relevant for Merchant Center integration and relevant FIELDS are changed. And calls LIM_Job_EnqueueRequest then</description>
    <environments>Default</environments>
    <interviewLabel>LIM_PartnerIntegration_McCheckChangesMirakl {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIM_PartnerIntegration_McCheckChangesMirakl</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isIntegrationRelevant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subEnqueueRequest</name>
        <label>subEnqueueRequest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>LIM_MerchantCenter_EnqueueRequest</flowName>
        <inputAssignments>
            <name>recPartnerIntegration</name>
            <value>
                <elementReference>recPartnerIntegration</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recPartnerIntegration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PartnerIntegration__c</objectType>
    </variables>
    <variables>
        <name>recPartnerIntegrationPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PartnerIntegration__c</objectType>
    </variables>
    <variables>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
